extends layout

block content
  h1 #{title}

  p #[strong Ingredient: ] #{ingredient.name}
  p #[strong Cost: ] $#{ingredient.cost}
  p #[strong Quantity: ] #{ingredient.quantity}
  p #[strong Product with ingredient: ]
  ul
    each val in products
      li 
        a(href=val.url) #{val.name}